# 基础Web框架（适配学校机房的Python3.8+）
streamlit==1.38.0
# HTTP请求库
requests==2.32.3
# HTML解析库
beautifulsoup4==4.12.3
# 中文分词库
jieba==0.42.1
# 数据可视化
pyecharts==2.0.3
# streamlit集成pyecharts
streamlit-echarts==0.4.0
